@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons');

$colors: (
    mygrey: #999999,
    mypurple: #9c27b0,
    myturquoise: #00bcd4,
    mygreen: #4caf50,
    mypink: #e91e63,
    );

@function color($color-name) {
    @return map-get($colors, $color-name)
    };

    /* this function doesn't seem to work */
@function colorAlpha($color-name,$alphaVal) {

     @return ("color:"+ map-get($colors, $color-name) + ";\n filter: alpha(" + $alphaVal +");");
        };


body {
    margin: 0;
}

h1, .logo, sub {
    font-family:  'Roboto Slab', "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: darken(color(myturquoise),15%);
    font-size: 1.2em;
}

p, a {
    font-family: 'Roboto', serif;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-bg, .social, .pagination {
    position: absolute;
}

.social {
    display: none;
}

/* define background as white (or whatever) if you want to have a bar across the top of the page where the menu goes */
header {
    background: none;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    
    ul {
    display: none;
    }
}

/* make z-index -1 to move it one layer under the elements that are by default defined with a z-index of 0 */
.main-bg {
    background: url('../images/background03.png');
    background-position: 40% 0;
    background-size: cover;
    width: 40%;
    height: 100%;
    z-index: -1;
    right: 0;
    background-color: color(myturquoise);
}

/* padding is: top right bottom left */
.main-content {
    padding: 6em 4em 8em 3em;
}
@debug 10em + 12em;
h1 {
    font-size: 2.5em;
    line-height: 1em;
  
}

sub {
font-weight: bolder;
position: relative;
top: -2em;
}

.main-content p {
    font-size: .9em;
    line-height: 1.5em;
    padding-left: 20%;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 2.5em;
        width: 20%;
        background: color(mygreen);
        margin-top: .3em;
       
    }
}

footer {
    width: 85%;
    background: color(mypurple);
    display: flex;
    position: relative;
    box-shadow: 10px 10px 30px color(mypurple);
}

.bar {
    width: 6em;
    height: 8em;
    background: url('../images/cat24.png');
    background-size: cover;
    background-color: color(mypurple);
}

.cta {
    color: white; 
    text-decoration: none;
    align-self: center;
    position: relative;
    margin: 3em auto;
    white-space: nowrap;

    &:before {
        content: '';
        position: absolute;
        width: 115%;
        height: 2em;
        left: -2.5em;
        top: -.5em;
        border: 2px solid color(mypink)
    }
}

ul.pagination {
    z-index: 2;
    background: white;
    right: 0;
    top: 30%;

    li {
        padding: .5em 1em 1em .5em;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border: 1px solid color(mygrey);
            border-radius: 50%;
        }
    }

    .active:before {
        background: black;
    }
}


@media (min-width: 590px) {
    body {
        font-size: 18px;
    }

    .main-content p {
        width: 70%;
    }

    .social {
        display: unset;
        z-index: 2;
        background: none;
        left: 0;
        top: 30%;
        text-align: center;

        li {
            margin-bottom: 2em;
            margin-left: 3px;
            width: 20px;
            height: 20px;
        }
    }
    .main-content {
        padding: 4em 4em 8em 6em;
    }

        .main-content p {
        padding-left: 25%;
    }
    
    .main-content p:before {
        width: 25%;
    }

    .block {
        position: absolute;
        z-index: 1;
        width: 6em;
        height: 12%;
    }
    .one {
        background: color(myturquoise);
        right: 6em;
    }
    .two {
        background: color(mypink);
        right: 0em;
        top: 12%;
    }
}

@media (min-width: 780px) {

    .menu {
        display: none;
    }

    nav ul {
        display: flex;

        li a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .3em .8em;
            font-size: .9em;
        }
    }

    .main-content p {
        width: auto;
    
        &:before {
            height: .9em;           
        }
    }

}
